<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <style>
        body{
            padding-bottom: 500px;
        }
        img{
            width: 200px;
            height: 100px;
        }
        /* v-cloak */
        [v-cloak] {
            display: none !important;
        }

        /* class */
        .normal_box{
            width: 200px;
            height: 200px;
            border: 1px solid #000;
        }
        .red_box{
            background-color: red;
        }
        .radius_box{
            border-radius: 15px;
        }

        
    </style>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    
</head>
<body>
    <div id="app" v-cloak>
        <!-- v-text -->
        <p v-text="message">我是原来的内容,我会被覆盖</p>
        <p>{{message}},我是原来的内容,我不会被覆盖</p>
        <hr>

        <!-- v-html -->
        <p v-html="message">我会被覆盖</p>
        <p v-html="msg"></p>
        <hr>

        <!-- v-show & v-if -->
        1if<img v-if="showImg" src="./img/img1.jpeg" alt=""><br>
        2show<img v-show="!showImg" src="./img/img2.png" alt=""><br>
        <button @click="showImg=!showImg">切换图片</button>
        <hr>

        <!-- v-if & v-else-if & v-else -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <hr>

        <!-- v-for -->
        <!-- <p v-for="(val,key,index) in obj" :key="key">{{val}}-{{key}}-{{index}}</p>
        <p v-for="item in arr" :key="item">{{item}}</p>
        <p v-for="item in message" v-if="showImg">{{item}}</p>
        <hr> -->

        <!-- key -->
        <!-- <div v-for="item,i in array" :key="item">
            {{item}}
            <input>
            <button @click="remove(i)">删除</button>
        </div>
        <hr> -->

        <!-- v-on -->
        <button v-on:click="fn()">点击一下</button>
        <button @click="fn('hello', $event)">点我一下,我传参了</button>
        <button @click.right="fn('hello', $event)">鼠标右键点下试试</button>
        <button v-on:click.once="fn">我只触发一次</button>
        <button @click.stop.prevent="fn">我既阻止了冒泡又阻止的默认行为</button>
        <button @click="message = 'hello vue!'">我是内联</button>
        <input type="text">
        <hr>

        <!-- v-bind -->
        <img v-bind:src="imgSrc" alt="">
        <img :src="picSrc" alt="">
        <img :src="'./img/' + fileName">
        <hr>

        <!-- v-model -->
        <input type="text" v-model="bingValue" @keyup.enter="confirm" autofocus>
        <button @click="bingValue = 'lalala'">改变input的值</button>
        <hr>

        <!-- v-pre -->
        <p v-pre>{{message}}</p>
        <!-- v-once -->
        <p v-once>{{message}}</p>
        <button @click="message = 'hello vue'">首次渲染后不会改变</button>
        <hr>

        <!-- class -->
        <div class="normal_box"></div>
        <!-- 写法一 对象-->
        <!-- <div :class="{'normal_box':true,'red_box':isRedBox,'radius_box':isRadius}"></div> -->
        <!-- 写法二 数组-->
        <!-- <div :class="['normal_box',isRedBox ? 'red_box' : '',isRadius ? 'radius_box' : '']"></div> -->
        <!-- 写法三 结合-->
        <!-- <div :class="['normal_box',{'red_box':isRedBox,'radius_box':isRadius}]"></div> -->

        <button @click="isRedBox = !isRedBox">切换颜色</button>
        <button @click="isRadius = !isRadius">切换圆角</button>
        <hr>

        <!-- style -->
        <div class="normal_box"></div>
        <!-- 写法一 对象 -->

        <!-- <div class="normal_box" :style="{width:500+'px',backgroundColor:activeColor}"></div> -->
        <!-- 写法二 数组 -->
        <!-- <div class="normal_box" :style="[{width:'500px'},{backgroundColor:activeColor}]"></div> -->
        <!-- 写法三 多重值-->
        <!-- <div class="normal_box" :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div> -->
        <!-- 写法四 绑定data对象-->
        <div class="normal_box" :style="styleObject"></div>
        <button @click="activeColor = 'red'">切换颜色</button>
     
    </div>

    <script>
       var vm = new Vue({
           el:'#app',
           data:{
               message:'hello',
               msg:'<a href="https://cn.vuejs.org/v2/api/#v-html" target="blank">a链接</a>',
               showImg:false,
               type:'A',
               obj:{
                   id:'01000011',
                   name:'张三',
                   age:18
               },
               arr:['哈哈哈','嘻嘻嘻','呵呵呵'],
               array:[1,2,3],
               imgSrc:'./img/img1.jpeg',
               picSrc:'./img/img2.png',
               fileName:'img1.jpeg',
               bingValue:'',
               isRedBox:false,
               isRadius:false,
               activeColor:'#ccc',
               styleObject:{
                   backgroundColor:'red',
                   width:'500px'
               }
           },
           methods:{
               remove(i){
                     this.array.splice(i, 1);
               },

               fn(value,el){
                    console.log(value)
                    console.log(el)
               },
               confirm(){
                    console.log(this.bingValue)
               },
           }
       })

    </script>
    
</body>
</html>